{% extends "main.html" %}
{% block tabs %}
  {{ super() }}
  <section class="landing-container">
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'>
      <path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z'></path>
    </svg>
    <div class="md-grid md-typeset">
      <div class="landing-hero">
        <div class="landing-image">
          <img src="img/dyalog-icon.png">
        </div>
        <div class="landing-content">
          <h1>Learn Dyalog APL</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris varius fringilla placerat. Nullam consequat nisi id elit viverra posuere. Cras sodales nisi ac diam vestibulum, vitae tincidunt eros feugiat.</p>
          <a href="getting-started/" title="Getting Started" class="landing-button landing-button--primary">Getting Started</a>
          <a href="apl-fundamentals/" title="APL Language" class="landing-button">APL Language</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}{% endblock %}
